<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.gridoai.HealthCheckFilter"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <filter class="com.gridoai.HealthCheckFilter"/>
        <http>
            <url>https://bt17-lfwt7va.ingress.axiom.co</url>
        </http>
        <format>
            <label>
                <pattern>app=api,host=${HOSTNAME},level=%level,class=%logger{36},thread=%thread</pattern>
                <readMarkers>false</readMarkers>
            </label>

            <message>
                <pattern>%message</pattern>
            </message>
        </format>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI" />

    </root>
</configuration>